.pag1 .imglogo {
    width: 200px;
}
.pag1 .logo{
    padding-top: 70px;
}
.pag1 img.icone {
    position: relative;
    left: -50%;
    width: 100%;
    bottom: -100%;
    transform: translateY(-50%);
}
.pag1 img.seta {
    position: relative;
    width: 8%;
    bottom: -92%;
    transform: translateY(-100%);
}
.pag1 img.triangulo {
    position: relative;
    width: 30%;
    top: 100vh;
    float: right;
    transform: translateY(-100%);
}
.pag1 .bloco{
    top: 80px;
    float: left;
}
.pag1 .campotxt{
    margin-top: 80px;
    margin-bottom: 40px;
}
@media (min-width:1200px){
    .pag1 .logo {
        padding-top: 40px;
    }
    .pag1 .imglogo {
        width: 100px;
    }
    .pag1 .campoimg {
        margin-top: 40px;
        margin-bottom: 0px;
    }
    .pag1 .bloco{
        top: 20px;
    }
    .pag1 img.triangulo {
        width: 12%;
    }
    .pag1 img.seta {
        width: 4%;
    }
}